<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>How becoming financially<br><em>secure will improve your wellness</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                            <div class="fl-right">
                              <img src="app/styles/images/being-financially-secure.jpg" width="253" height="178" alt="positive self talk">
                            </div>
                            <p>NB this intervention offers general advice and is not a substitute for a qualified financial
                            adviser</p>                        
                                <li>At its most basic level, money represents security (literally the roof over our
                                heads and food on the table) for our loved ones and us.</li>
                            <li>Money is a valuable resource. So are our time, our relationships, and our
                                lives. Frequently we trade too much time, love and life in return for money.</li>
                            <li>Money worries, current or future can niggle away at us. They are an
                                underlying source of anxiety that erode our present and keep us awake at
                                night. </li>
                            <li>Lack of money limits our choices and keeps us “trapped” in living lives we do not enjoy. Money
                                problems are completely solvable. </li>
                            <li>The real reason people experience financial stress is not because their incomes are too small, but because
                                their spending habits are too big. This is why many people with high incomes have serious financial
                                worries, and why some millionaires and lottery winners end up bankrupt. If
                                you regularly spend more than you earn, you will be in debt, stressed, and
                                frequently unhappy. Eventually, you will be poor or bankrupt. </li>
                            <li>How can you learn to manage your money? There are four simple steps to
                                follow. You may already have completed some of them. Successful
                                completion of all four ensures that not only do you live debt free,
                                consistently spending less than you earn, but that you are on a sustainable
                                and measurable track to achieving total financial freedom.</li>
                            <li>Financial freedom is when you have enough money from passive sources
                                to live on for the rest of your life. You work only because you want to. Don’t
                                wait until retirement. </li>
                            <li>This goal is doable within ten to fifteen years, regardless of your current age
                                or financial position. The steps assume current income. You can
                                considerably accelerate the journey by making good choices about how to
                                spend future increases in income.</li>
                            <li>Financial security is a choice, and is the result of work, not positive thinking.
                                It requires healthy habits, good beliefs, and effective tools.</li>
                            <li>How to become financially secure </li>
                            
                            <h1>Taking Control</h1>

                            <li>When it comes to money, ignorance is not bliss. Getting organised is one of
                                    the keys to financial security.</li>
                                <li> Keep all your financial data in ONE place.</li>
                                <li>All you need is a single ring binder divided into sections, plus plastic wallets
                                    for smaller items. </li>
                                <li>Sections could include, Bank Statements: Credit Card Statements: Store
                                    Card Statements. </li>
                                <li>Money Received (pay slips or invoices if self employed, benefits, income
                                    from investments and/or property, royalty statements, tax rebates etc). </li>
                                <li>Money Out (a list of all direct debits and standing orders, all loan and/or
                                    Hire Purchase agreements, utility bills, mortgage statements, receipts or
                                    invoices for purchases, cash withdrawal slips etc): Insurance Policies: Tax
                                    Information: Savings and Investments: Pension Plans.</li>
                                <li>List assets, liabilities, income, and expenses. Use this information to
                                    calculate your net worth. Recalculate every six months. </li>
                                <li>Prepare a cash-flow forecast. A simple method is to use an Excel
                                    spreadsheet that tracks your bank account and feeds into a twelve-month
                                    cash-flow forecast.</li>
                                <li>SCHEDULE a WEEKLY time slot to update your financial paperwork. Two
                                    hours a week maximum (not a lot relative to how much time you put into
                                    acquiring money) should be enough to manage your money. </li>
                                <li>Enlist your partner’s help if possible</li>

                            <h1>Getting out of Debt</h1>

                            <li>Start paying cash for everything: today. If you cannot pay cash, use Switch
                                instead. (Typically, spending drops by around 20% a month.)</li>
                            <li> Find out what you really spend. For seven days, keep a small notebook with
                                you at all times, and write down EVERYTHING you spend.
                            </li>
                            <li> List all store and credit cards, for each one, record the balance outstanding
                                and the current rate of interest.
                            </li>
                            <li>Take the credit card with the lowest interest rate. Keep it with you for
                                emergency use only </li>
                            <li>Take the most expensive credit card and cut it up into small pieces. Notice
                                and celebrate how liberating this feels!
                            </li>
                            <li>Cut up ALL your store cards. Retail therapy does not work. </li>
                            <li>If you are feeling brave cut up all the rest of your credit cards. If you are
                                feeling less brave, seal them in an envelope and hide them under a
                                floorboard or in another inaccessible place.</li>
                            <li>Find out the interest rate for each debt. Focus on paying off the most
                                expensive debt first. Maintain minimum payments on everything else. </li>
                            <li>Remember debt is a serious issue, you do not have to resolve this alone.
                                Debt ruins relationships and lives. </li>

                            <h1>Saving Money</h1>

                            <li>Stop consuming every £1 you make. Until you deal with expenditure you
                                will never earn enough money to become financially free (not even if you
                                are a millionaire).</li>
                            <li>Starting today, SAVE a proportion of every pound that comes your way.
                                You can begin with as little as 1% and increase by 1% a month for a year.
                                To be firmly on the track to financial freedom, the ultimate goal is to save
                                20% of income. </li>
                            <li>Identify ten ways in which money is spent that is not really rewarding. Take
                                immediate and radical action to cut expenditure by 10 to 40%</li>
                            <li>Use store and credit cards ONLY for convenience and ONLY IF you
                                absolutely always pay back the balance each month without incurring
                                interest. Remember that Dee Hock who invented Visa card in the late 60s
                                got rid of all his credit cards years ago.</li>
                            <li> If you have a mortgage, make sure it is a capital repayment one and reduce
                                it fast. The word mortgage literally means “death grip” or “death promise”.
                                Your mortgage debt is your liability and your mortgage lender’s asset. Small
                                overpayments every month significantly reduce your mortgage millstone in
                                terms of years and interest payable. Check out mortgage calculators at
                                www.eloan.com. The Mortgage Amortization Calculator displays the
                                breakdown between principal and interest in payments on your loan</li>
                            <li>Whenever you are tempted to take out a loan or buy on HP, ask yourself
                                “What is the total cost?” NOT “Can I afford the monthly repayment?</li>
                            <li>Keep your overheads under control. If they rise with income, you end up
                                stuck in a job you do not want, doing things with your life you would rather
                                not be doing.</li>
                            <li>Pay yourself FIRST. Set up an automatic mandate on your bank account,
                                so that money is transferred automatically to your savings account.
                                Otherwise you pay everyone else (tax, mortgage, car, insurances, loans,
                                utilities, etc) first, leaving nothing left to save. </li>
                            <li>Build up a cash security reserve equivalent to somewhere between 3 to 12
                                months living expenses. The right amount is the one that makes you feel
                                financially secure. </li>

                            <h1>Investing Wisely</h1>

                            <li>Now you have ready access to all the financial data about yourself and
                                are
                                financially secure. Now you have amassed a cash reserve, you regularly
                                save more than you earn and your spending is under control. Now you are
                                living well within your means without suffering, THEN you are ready to
                                invest wisely for your future.
                            </li>
                            <li>Spending gives a temporary payback. Wealthy people are wealthy because
                                they put an extra step between earning and spending: investing.
                                Investment
                                gives an ongoing return.</li>
                            <li>Do not invest in anything until you have formulated your personal plan
                                to
                                achieve financial freedom.
                            </li>
                            <li>Remember that there are typically four main ways of creating real
                                wealth:
                                the stock market, property investment, profiting from your passion, and
                                your
                                own business.</li>
                            <li>Establish your personal vision of financial freedom. What does it feel
                                like,
                                look like, smell like, and taste like? How will you live your life? What
                                dreams
                                will you make come true?</li>
                            <li>Hire a personal financial coach to help you create a compelling vision
                                of
                                your financial future, and to overcome any self-limiting beliefs and
                                emotions
                                about money. Financial freedom depends upon healthy beliefs, behaviours
                                and attitudes.</li>
                            <li>Make sure that you educate yourself, consider all options, and seek
                                comprehensive, professional advice. Consult an Independent Financial
                                Advisor, your accountant, your bank manager, your mortgage broker, and
                                your pension fund manager, successful investors, business owners and
                                property professionals. Consider the possibility that the best advice
                                comes
                                from people who themselves are firmly on the track to financial freedom
                            </li>
                            <li>Be wary of other people’s agendas, particularly those with products or
                                services to sell.</li>
                            <li>Learn and apply the miracle of what Albert Einstein called the eighth
                                wonder of the world: COMPOUND INTEREST. Suppose that when he
                                arrived in the New World in 1492, Christopher Columbus had deposited $1
                                into a savings account that paid 5% a year in SIMPLE interest. Each year
                                he would earn 5 cents on his dollar. By 2002 his one-dollar would have
                                grown to $26.50. Now suppose that he had taken that same dollar and
                                placed it in a savings account that paid 5% COMPOUND interest. That
                                onedollar would now be worth more than $55 billion dollars. (Example
                                from J. J.
                                Pritchard’s “Quest for the Pillars of Wealth”)</li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
